<div ng-controller="LoginCtrl">
<form ng-submit="doLogin()">
<div class="list">

	<label class="checkbox"> <input type="radio" ng-model="login.team" value="ind" checked name="group" >
		<div class="item-content">Individual</div>

	</label> <label class="checkbox"> <input type="radio" ng-model="login.team" value="group" name="group">
		<div class="item-content">Group</div>

	</label> 
	<br></br>
	<label class="item item-input"> <span class="input-label">Name</span>
		<input type="text" ng-model="login.name" placeholder="Name"> 
	</label> <label class="item item-input"> <span class="input-label">Email</span>
		<input type="text" ng-model="login.email" placeholder="Email">
	</label>
	<button class="button button-large button-block button-assertive" type="submit">Log in</button>
</div>
</form>
</div>
