<div>
	<ion-view title="login" hide-back-button="true">
	<form ng-submit="doLogin()">
		<div class="list">

			<label class="item item-input item-select">
				<div class="input-label">Taal</div> <select>
					<option selected>Nederlands</option>
					<option>English</option>
			</select>
			</label>


			<ion-radio ng-model="login.team" ng-value="'ind'">Individueel</ion-radio>
			<ion-radio ng-model="login.team" ng-value="'group'">Groep</ion-radio>

			<label class="item item-input"> <span class="input-label">Naam</span>
				<input type="text" ng-model="login.name" placeholder="Name" required>
			</label> <label class="item item-input"> <span class="input-label">Email</span>
				<input type="email" ng-model="login.email" placeholder="Email"
				required>
			</label>
			<label>
			<button class="button button-large button-block button-assertive"
				type="submit">Log in</button></label>
		</div>
	</form>
	</ion-view>
</div>
