<div>
	<ion-view title="login" hide-back-button="true">
	<form ng-submit="doLogin()">
		
		<div class="list">
			<br>
			<label class="item item-input item-select">
				<div class="input-label">Taal</div> <select>
					<option selected>Nederlands</option>
					<option>English</option>
			</select>
			</label>
			<br>

			<ion-radio ng-model="login.team" ng-value="'ind'">Individueel</ion-radio>
			<ion-radio ng-model="login.team" ng-value="'group'">Groep</ion-radio>
			<br>
			<label class="item item-input"> <span class="input-label">Naam</span>
				<input type="text" ng-model="login.name" placeholder="Naam">
			</label> <label class="item item-input"> <span class="input-label">Email</span>
				<input type="email" ng-model="login.email" placeholder="Email">
			</label>
			
			<label><ion-scroll style="width: 100%; height: 10em; padding: 16px;">
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
			</ion-scroll></label>
			<ion-checkbox ng-model="login.checked">Ik accepteer de gebruikersvoorwaarden</ion-checkbox>
			<label>
			<button class="button button-large button-block button-assertive"
				type="submit">Log in</button></label>
		</div>
		
	</form>
	</ion-view>
</div>
