<ion-view title="Question">
  <ion-content>
  <div id="questionbtns">
    <b><h1><center>Which mountain is the highest in the world?</center></h1></b>
    
    <img src="http://www.w3schools.com/html/pic_mountain.jpg" alt="Mountain View"  style="margin:0px auto;display:block;width:100%;">
   

  	<button class="button button-large button-block button-assertive">
  <b>Kilimanjaro</b>
</button>
  	<button class="button button-large button-block button-assertive">
  <b>Mount McKinley</b>
</button>
  	<button class="button button-large button-block button-assertive">
  <b>Mount Everest</b>
</button>
  	<button class="button button-large button-block button-assertive">
  <b>Mount Logan</b>
</button>
</div>
</ion-content>
</ion-view>