<ion-view title="Question">
  <ion-content>
  
    <h2><center>Uit hoeveel dagen bestaat deze semester?</center></h2>
    <div>
    <img src="http://www.w3schools.com/html/pic_mountain.jpg" alt="Mountain View"  style="margin:0px auto;display:block">
    </div>
<div id="questionbtns">
  	<button class="button button-block button-positive">
  13*5
</button>
  	<button class="button button-block button-positive">
  weken * 7
</button>
  	<button class="button button-block button-positive">
  hangt af van de uren in de weken
</button>
  	<button class="button button-block button-positive">
  750
</button>
</div>
</ion-content>
</ion-view>